
<div class="header-tab" id="app_header">
    <div class="Switch-tab Switch-tab-2 f-cb">
        <a href="javascript:;" class="{{ tab_1_class }}" @click="tabSwitch(0)"></a>
        <a href="javascript:;" class="{{ tab_2_class }}" @click="tabSwitch(1)"></a>
        <i style="width: {{ index_header_tab_width }}px;transition-duration:{{ header_position }}s;transform: translate3d({{header_position}}px,0px,0px)"></i>
    </div>
    <em class="header-user"></em>
    <em class="header-checkin"></em>
</div>